extends ../layout

block content
  .page-header
    h1 Explore knowledge
    .d-flex.flex-row.justify-content-between
      form.form-group.form-inline.m-2(method="GET")
        input.form-control(type="search" name="q" placeholder="search" autocomplete="on")
        button.btn.btn-primary(type="submit") Search
      form.form-group.form-inline.m-2(method="POST")
        button.btn.btn-primary(type="submit") New post
    small.form-text.text-muted.m-2
      | Search by title, content, or tags
    hr

  .d-flex.flex-column
    each row in content
      .m-1
        .d-flex.flex-row.justify-content-between
          h2
            a.text-dark(href='/explore/view?post_id=' + row.post_id)
              | #{row.post_id}. #{row.title}
            span  
            span.badge.badge-secondary #{row.field_name}
          p.text-muted
            | by #{row.author_name}
        p(style='white-space: pre-line')
          | #{row.content}
